#empresa {
	border-bottom: 2px solid rgb(229,225,230);
}

#quem-somos {
	margin-top: 57px;
	background-color: rgb(229,225,230);
	border: 1px solid red;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
}

#coluna-pagina {
	padding: 50px 0px;
}

#foguete {
	position: absolute;
	margin-top: 50px;
	opacity: 0%;
}

#foguete:hover {
	margin-top: 0px;
	opacity: 100%;
	transition: all 1s;
}
