/*
*	@author André Medeiros
* @version 0.1
*/

/* ------------------------------ LAYOUT ------------------------------*/


html, body {
	height: 100%;
	width: 100%;
	background: rgb(229,225,230);
	color: rgb(16,24,32);
	font-family: Sansation Regular;
}

.bold {
	font-family: Sansation Bold;
}

.regular {
	font-family: Sansation Regular;
}

.light {
	font-family: Sansation Light;
}

.branco {
	color: rgb(229,225,230);
}

.preto {
	color: rgb(16,24,32);
}

.vermelho {
	color: rgb(228,0,43);
}


/* ------------------------------ HEADER ------------------------------*/


#botao-menu {
	background: rgb(16,24,32);
	color: rgb(229,225,230);
	border: none;
	transition: all 0.3s;
	text-decoration: none; 
}

#botao-menu:hover {
	background: rgb(229,225,230);
	color: rgb(16,24,32);
	transition: all 0.3s;
}

.barra-navegacao {
	background: rgb(16,24,32);
	padding-top: 5px;
}

.logo {
	height: 40px;
	width: 200px;
	display: block;
	background: url('img/branco/logo_sem_tag.svg') no-repeat;
	background-size: 130px; 
	color: transparent;
}

.navbar-brand {
	padding-top: 10px;
}

.link {
	color: rgb(229,225,230);
	border-bottom: 2px solid transparent;
	transition: border 0.3s;
	margin-right: 10px; 
}

.link:hover {
	border-bottom: 2px solid rgb(229,225,230);
	transition: border 0.3s;
}

#fale-conosco {
	margin-top: 9px;
	margin-left: 10px;
	margin-bottom: 5px;
	height: 30px;
	background: transparent;
	color: rgb(229,225,230);
	transition: all 0.3s;
	border-radius: 5px;
	border: 1px solid rgb(229,225,230);
	padding-top: 4px;
	padding-right: 20px;
	padding-left: 20px;
}

#fale-conosco:hover {
	background-color: rgb(229,225,230);
	color: rgb(16,24,32);
	transition: all 0.3s;
}

/* ------------------------------ PRIMEIRA CAPA ------------------------------*/

#pagina1 {
	height: 900px;
	background: url("img/bg.png") no-repeat;
	background-size: contain;
}

#pagina2 {
	padding: 200px 0px;
	position: relative;
	font-size: 100px;
	background: url(img/isotipo.png) no-repeat;
	background-size: 600px 600px;
}

p {
	padding: 0px;
	margin: 0px; 
}


/* ------------------------------ RODAPÉ ------------------------------*/

#rodape {
	background: rgb(16,24,32) /*url("img/pattern.svg")*/;
	background-size: 390px 390px; 
	padding-top: 40px;
	background-origin: padding-box;
	font-family: Sansation Light;
	height: 400px;
	color: rgb(229,225,230);
}

#logo-footer {
	background: url("img/branco/logo_tag.svg") no-repeat;
	position: relative;
	margin-top: 50px; 
}

.coluna-footer {
	padding-top: 50px;
}

/* ------------------------------ FONTS ------------------------------*/

@font-face {
font-family: "Sansation Regular";
src: url("fonts/sansation_regular-webfont.woff") format("woff"),
url("fonts/sansation_regular-demo.html") format("html");
}

@font-face {
font-family: "Sansation Bold";
src: url("fonts/sansation_bold-webfont.woff") format("woff"),
url("fonts/sansation_bold-demo.html") format("html");
}

@font-face {
font-family: "Sansation Light";
src: url("fonts/sansation_light-webfont.woff") format("woff"),
url("fonts/sansation_light-demo.html") format("html");
}

/* ------------------------------ SCROLL BAR ------------------------------*/

/*
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0,0,0,0);
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: rgb(228,0,43); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(200,0,30); 
}
*/