/*
*	@author André Medeiros
* @version 0.1
*/

/* ------------------------------ LAYOUT ------------------------------*/


html, body, #capa-1{
	height: 100%;
	width: 100%;
	background: rgb(229,225,230);
	color: rgb(16,24,32);
	font-family: Sansation Regular;
}

.bold {
	font-family: Sansation Bold;
}

.regular {
	font-family: Sansation Regular;
}

.light {
	font-family: Sansation Light;
}

.branco {
	color: rgb(229,225,230);
}

.preto {
	color: rgb(16,24,32);
}

.vermelho {
	color: rgb(228,0,43);
}

*:focus {
	outline: none !important;
}

/* ------------------------------ HEADER ------------------------------*/

.barra-navegacao {
	background: rgb(229,225,230);
	position: fixed;
	height: 70px;
}

#barra-de-scroll {
	background: rgb(229,225,230);
	position: fixed;
	height: 2px;
	width: 100%;
}

#scroll {
	background: rgb(16,24,32);
	position: fixed;
	height: 2px;
	width: 0%;
}

.logo {
	height: 30px;
	width: 105px;
	display: block;
	background: url('img/preto/logo_sem_tag.svg') no-repeat;
	background-size: contain; 
	color: transparent;
	margin-top: 8px;
}

.navbar-inverse .navbar-nav>li>a{
	color: rgb(16,24,32);
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: rgb(16,24,32);
}

#lista-menu {
	margin-top: 10px;
	font-size: 15px;
}

#link-blog {
	margin-right: 15px; 
}

#fale-conosco, #botao-capa-1 {
	margin-top: 8px;
	background: rgb(229,225,230);
	color: rgb(228,0,43);
	border: 1px solid rgb(228,0,43);
	border-radius: 0px;
	padding: 5px 30px; 
	transition: all 0.2s;
}

#fale-conosco:hover, #botao-capa-1:hover {
	background: rgb(228,0,43);
	font-family: Sansation Regular;
	color: rgb(229,225,230);
	transition: all 0.2s;
}

#botao-menu {
	margin-top: 17px;
	margin-bottom: 20px;
	background: rgb(229,225,230);
	color: rgb(16,24,32);
	border: none;
	border-radius: 0px;
	text-decoration-line: none;
	transition: all 0.2s;
}

#botao-menu:hover {
	background: rgb(228,0,43);
	color: rgb(229,225,230);
}

#navegacao {
	background: rgb(229,225,230);
}


/* ------------------------------ CONTEUDO 1  ------------------------------*/

#texto-capa-1 {
	margin-top: 35%; 
}

#imagem-capa-1 {
	margin-top: 7%; 
	padding: 40px;
}

#titulo-capa-1 {
	font-size: 60px;
}

#subtitulo-capa-1 {
	font-size: 40px;
	margin: 0px;
}

#botao-capa-1 {
	font-size: 17px;
	margin-top: 20px;
	padding: 5px 40px; 
	border: 1px solid rgb(228,0,43);
	color: rgb(228,0,43);
	transition: all 0.2s;
}

#botao-capa-1:hover {
	background: rgb(228,0,43);
	transition: all 0.2s;
}

/* ------------------------------ BOTAO CHAT ------------------------------*/

#botao-chat {
	height: 50px;
	width: 50px;
	bottom: 3%;
	right: 5%;
	position: fixed;
	cursor: pointer;
}

/* ------------------------------ RODAPÉ ------------------------------*/

#rodape {
	background: rgb(16,24,32);
	padding-bottom: 20px;
	font-family: Sansation Regular;
	color: rgb(229,225,230);
}

#logo-footer {
	background: url("img/branco/logo_tag.svg") no-repeat;
	width: 140px;
	height: 40px;
	position: relative;
	margin-top: 50px;
	background-size: 140px auto;
}

.coluna-footer {
	padding-top: 50px;
}

footer .nav>li>a {
	color: rgb(229,225,230);
}

footer .nav>li>a:hover {
	background: none;
}

.rede-social {
	height: 40px;
	width: 40px;
	padding: 2px;
	margin-right: 15px;
	transition: padding 0.1s;
	float: left;
}

.rede-social:hover {
	padding: 0px;
	transition: padding 0.1s;
}

#infos {
	font-size: 9px;
	padding-left: 10px; 
}

#direitos-reservados {
	position: relative;
	margin-top: 30px;
	text-align: center;
}

/* ------------------------------ FONTS ------------------------------*/

@font-face {
font-family: "Sansation Regular";
src: url("fonts/sansation_regular-webfont.woff") format("woff"),
url("fonts/sansation_regular-demo.html") format("html");
}

@font-face {
font-family: "Sansation Bold";
src: url("fonts/sansation_bold-webfont.woff") format("woff"),
url("fonts/sansation_bold-demo.html") format("html");
}

@font-face {
font-family: "Sansation Light";
src: url("fonts/sansation_light-webfont.woff") format("woff"),
url("fonts/sansation_light-demo.html") format("html");
}
