html, body, #conteudo{
	width: 100%;
	height: 100%;
	background: rgb(16,24,32);
	color: rgb(229,225,230);
}

.barra-navegacao {
	background: rgb(16,24,32);
	height: 70px;
}

.logo {
	height: 30px;
	width: 105px;
	display: block;
	background: url('../img/branco/logo_sem_tag.svg') no-repeat;
	background-size: contain; 
	color: transparent;
	margin-top: 8px;
}

ul.navbar-nav>li>a {
	color: rgb(229,225,230);
	padding: 0px;
	margin: 15px;
}

ul.navbar-nav>li>a:hover, ul.navbar-nav>li>a:visited, ul.navbar-nav>li>a:focus {
	background: rgb(16,24,32);
    color: rgb(256,256,256);
}

#lista-menu {
	margin-top: 10px;
	font-size: 15px;
}

#botao-menu {
	margin-top: 17px;
	margin-bottom: 20px;
	background: rgb(16,24,32);
	color: rgb(229,225,230);
	border: none;
	border-radius: 0px;
	text-decoration-line: none;
	transition: all 0.2s;
}

#botao-menu:hover {
	background: rgb(228,0,43);
	color: rgb(16,24,32);
}

#area-de-login {
    background: rgb(16,24,32);
    position: relative;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 0 30px rgba(0,0,2,0.3);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
}

#form-logo {
    height:150px;
    width:100%;
    padding-top: 80px;
}

#image-form-logo {
    width: 150px;
}

#form-area {
    height:270px;
    width:100%;
    padding: 50px;
}

.form-control {
    background:rgb(16,24,32);
    border: 1px solid rgb(228,0,43);
    margin-bottom: 20px;
}

.form-control:focus {
    border-color:  rgb(228,0,43);
    color: rgb(229,225,230);
    box-shadow: 0 0 15px rgba(0,0,2,0.3);
}

.btn-primary {
    width: 300px;
    background:  transparent;
    color: rgb(229,225,230);
    border: 1px solid rgb(228,0,43);
    transition: all 0.2s;
}

.btn-primary:hover {
    all: none;
    border: 1px solid rgb(228,0,43);
    background:  rgb(228,0,43);
    box-shadow: 0 0 15px rgba(0,0,2,0.3);
    transition: all 0.2s;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover  {
    background:  rgb(228,0,43);
    color: rgb(229,225,230);
    border: 1px solid rgb(228,0,43);
}

#extras {
    height: 80px; 
    width: 100%;
}

#area-imagem {
    display: block;
    width: 50%;
    height: 50%;
    bottom: 0px;
    left: -50px;
    position: absolute;
    background: url("../img/illustrations/login.svg") no-repeat;
    background-size: contain;
}